// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// VideoBg
.VideoBg__content {
  text-align: center;
  background-color: rgba(52, 72, 92, 0.7);
}

h1 {
  font-weight: 300;
  font-size: 4em;
  color: #ebebeb;
}